#navbar{
  background-color: rgba(52, 52, 52, 0.1);
  
}
#jumbotron{
  backface-visibility: visible;
  width: 70%;
  border: none;
  
}
#descripcion{
  opacity: 0,3;
  background-color: rgba(52, 52, 52, 0.2);
  padding: none;
  color: white; 
}
body{
  background-image: url("https://images5.alphacoders.com/120/1207344.jpg");
  background-size: cover;
}
h1{
  color: #F9BD0A;
}

#btnHouse{
  margin-top: 5%;
}
#cardshousesDetails{
  padding: none;
}

#card-characters{
  width: 60%;
  padding-left: 5%;
 
}
.card-img-top:hover{
  filter: opacity(.5);
}
.card-img-top{
  border-Radius: 50px;
  padding-bottom: 10%;
}

.card-text{
  padding: 5%;

}
